body {
    margin: 0;
    font-weight: bold;
}

h1{
    font-weight: bolder;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div1 {
    text-align: center;
}

.js-second-result {
    background-color: white;
    padding: 5px;
    color: black;
}